.container {
  padding: 2rem;
  font-family: sans-serif;
  background-color: #e0f4f1;
  height: 100vh;
}

.subtitulo {
  color: #444;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: #fefefe;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  border-left: 6px solid #70A1AF;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card h2 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.card p {
  margin: 0.3rem 0;
  font-size: 0.95rem;
}


.btnCancelar {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.btnCancelar:hover {
  background-color: #cc0000;
}

.btnVolver {
  font-size: 16px;
  background-color: #4356C5;
  color: white;
  margin-top: 10px;
  border: none;
  width: 15%;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} 

.btnVolver:hover {
  background-color: #2f409f;
}