.container {
  padding: 2rem;
  font-family: sans-serif;
  background-color: #e0f4f1;
  min-height: 100vh; 
  box-sizing: border-box;
}

.subtitulo {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 2rem;
  text-align: center; 
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card {
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.2s ease;
  flex: 1 1 280px; 
  max-width: 350px;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: #2b3c5d;
  margin-bottom: 0.5rem;
}

.card p {
  color: #333;
  margin-bottom: 0.5rem;
}

.btn,
.btnVolver {
  background-color: #3b4cca;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  margin-top: 0.5rem;
}

.btn:hover,
.btnVolver:hover {
  background-color: #2c3aa2;
}

.btnVolver {
  margin-left: 10px;
  background-color: #3b4cca;
}

.btnVolver:hover {
  background-color: #2f409f;
}


.btnDisabled {
  background-color: #ccc;
  color: #666;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  cursor: not-allowed;
  opacity: 0.7;
  transition: background-color 0.3s ease;
}

.btnDisabled:hover {
  background-color: #ccc;
}

@media (max-width: 768px) {
  .grid {
    gap: 1.5rem;
  }

  .card {
    width: 100%;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  .subtitulo {
    font-size: 1rem;
  }

  .card {
    padding: 1rem;
    width: 100%;
    max-width: 100%;
  }

  .btn,
  .btnVolver {
    width: 100%;
    text-align: center;
  }
}
